<nav id="nav">
    <div class="container">
        <div class="nav-spacer">
            <div class="nav-brand">
                <a href="/" class="nav-brand">
                    <img id="logo" class="brand-logo" src="/images/logo-min.png">
                    <h1 class="brand-text">
                        Social Cooking
                    </h1>
                </a>
            </div>

            <ul class="nav-links">
                <li class="nav-item">
                    <a class="nav-link" href="/recipes/all">All Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/all">All Users</a>
                </li>

                {{#if isLoggedIn}}
                <li class="nav-item">
                    <a class="nav-link" href="/recipes/my/{{userId}}">My Recipes</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/recipes/my/create/">New Recipe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link profile" href="/users/{{userId}}/profile/">
                        <img class="avartar-min" src="{{avatar}}" width="25px" />
                        <span>{{username}}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/logout">Logout</a>
                </li>
                {{else}}

                <li class="nav-item">
                    <a class="nav-link" href="/auth/signin">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/signup">Sign Up</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
    {{> actions_bar}}
</nav>