<div class="page user-profile">
    <div class="container">
        <h2 class="title-page">Your Profile</h2>

        <div class="content-profile">
            <div class="card">
                <div class="header-card">
                    <div class="visu">
                        <img src="{{user.avatar}}">
                    </div>

                    <div class="content-info">
                        <h3 class="username">{{user.username}}</h3>
                        <p class="firstname">First name: {{user.firstname}}</p>
                        <p class="lastname">Last name: {{user.lastname}}</p>

                        <p>Email: {{user.lastname}}</p>
                        <div class="actions-btn">
                            <a href="/users/{{user._id}}/profile/edit" class="btn btn-edit">Edit</a>
                        </div>
                    </div>
                </div>
                <section class="your-recipes">
                    <h4 class="title-section">Your recipes</h4>
                    <ul class="grid list">
                        {{#each recipes}}
                        <li class="grid list item">
                            <div class="card recipe">
                                <img src="{{this.image}}" />
                                <div class="content-card">
                                    <h5>{{this.title}}</h5>
                                    <p>{{this.description}}</p>
                                </div>
                                <div class="actions-btns">
                                    <a href="/recipes/{{this._id}}/my/show" class="btn btn-show">Show</a>
                                    <a href="/recipes/{{this._id}}/my/edit" class="btn btn-edit">Edite</a>
                                    <a href="/recipes/{{this._id}}/my/delete" class="btn btn-delete">Delete</a>
                                </div>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </section>

                <section class="your-favorites-recipes">
                    <h4 class="title-section">Your favorites recipes</h4>
                </section>

                <section class="your-followers">
                    <h4 class="title-section">Your followers</h4>
                </section>
                <section class="your-recipes">
                    <h4 class="title-section">Peoples you follow</h4>
                </section>

            </div>
        </div>
    </div>
</div>